*
{
    margin: 0px;
    padding: 0px;
    
}
body
{

    line-height: normal;
}

h1
{
    width: 470px;
    height: 8px;
    text-transform: capitalize;
    font-size: larger;
    border: none solid 1px;
    border-radius: 10px;
    box-shadow: lightblue 5px 10px 10px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-weight: lighter;
    width: fit-content;
    padding: 30px;
    align-items: right;
    margin-left: 300px;
    background-color: lightgoldenrodyellow;
}

#car1,#car2,#car3,#car4,#car5,#car6,#car7
{
  margin-top: 10px; 
  background-color: lightblue; 
}
img
{
    border: solid black 0px;
    padding: 60px;
    margin: 10px;
    width: 50px;
    border-radius:35px;
 
}
.btn button 
/*buttons on top*/
{
    color: wheat;
    background-color: rgb(41, 190, 121);
    border: solid lightgreen 5px;
    border-radius: 15px;
    padding: 10px;
    margin: 6px;
    font-weight: bolder;
}

button
/*read more button*/
{
    color: wheat;
    background-color: black;
    border: solid lightgreen 1px;
    border-radius: 10px;
    padding: 10px;
    margin: 6px;
    font-weight: bolder;
}
#car1 img,#car2 img,#car3 img,#car4 img,#car5 img,#car6 img,#car7 img
{
    width: 50%;
    margin-left: 60px;
    border-radius: 30px;
}