*{
    margin: 0px;
    padding: 0px;
    font-family: 'poppins';
    box-sizing: border-box;
}
a{
    text-decoration: none;

}
#reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.reviews-heading{
    letter-spacing: 1px;
    margin: 30px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.reviews-heading h1{
    font-size: 2.2rem;
    font-weight: 500;
    background-color: #2020;
    color: #ffffff;
    padding: 10px 20px;
}
.reviews-heading span{
    font-size: 1.3rem;
    color: #000;
    margin-bottom: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.reviews-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.reviews-box{
    width: 500px;
    box-shadow: 2px 2px 30px rgba(0,0, 0, 0);
    background-color: #ffffff;
    padding: 20px;
    margin: 15px;
    cursor: pointer;
}
.profile-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;

}
name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: #979797;
    font-size: 0.8rem;

}
.ratings{
    color: #f9d71c;

}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}
.client-comment p{
    font-size: 0.9rem;
    color: #4b4b4b;
}
.reviews-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
@media(max-width:1060px){
    .reviews-box{ 
        width: 45%;
        padding: 10px;
    }

}
@media(max-width:790px){
    .reviews-box{ 
        
        padding: 100%;
    }
}
.reviews-heading h1{
    font-size: 1.4rem;

}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .ratings{
        margin-top: 10px;
    }
}
.rating-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.rating-section h3 {
    margin-right: 10px;
}

.stars {
    font-size: 24px;
    margin-right: 10px;
}

.stars .star {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.stars .star.active {
    color: #ffc107;
}

.rating-value {
    font-size: 18px;
    font-weight: bold;
}
