@import url('https://fonnts.googleapis.com/css?family=poppins:wght@300;400;500;600;700&display=swap');
{
    margin:0;
    padding:0px;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
    align-items:center;
}
:root{
    --yellow:#FFBD13;
    --blue:#4383FF;
    --blue-d-1:#3278FF;
    --light:#F5F5F5;
    --grey:#AAA;
    --white:#FFF;
    --shadow:8px 8px 30px rgba(0,0,0,.05);
}
body{
    background: var(--light);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wrapper{
    background: #111;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    border-radius: .75rem;
    box-shadow: var(--shadow);
    text-align: center;
}
.wrapper h3{
    font-size: 1rem;
    font-weight: 250;
    margin-bottom:1rem;
    font-family: sans-serif;
    color: #fe7;
}
.rating {
    display: flex;
    justify-self: center;
align-items: center;
    grid-gap:2rem;
    font-size:2rem;
    color:var(--yellow);
    margin-bottom: 2rem;
}
.rating .star{
    cursor:pointer;
}
.rating .star.active{
    opacity:0;;
    animation: animate .5s calc(var(--i) * .1s) ease-in-out forward;
}
@keyframes animate
    0%{
        opacity:0;
        transform:scale(0);
    }
    50%{
        opacity:1;
        transform: scale(1.2);
    }
    100%{
        opacity:1;
        transform:scale(1);
    }
.rating .star:hover{
    transform: scale(1.1);
}
textarea {
    width:100%;
    background:var(--light);
    padding:1rem;
    border-radus:.5rem;
    border:none;
    outline:none;
    resize:none;
    margin-bottom:.5rem;
}
.rating-section {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.rating-section h3 {
    margin-right: 10px;
}

.stars {
    font-size: 24px;
    margin-right: 10px;
}

.stars .star {
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
}

.stars .star.active {
    color: #ffc107;
}

.rating-value {
    font-size: 18px;
    font-weight: bold;
}
.btn-group{
    display:flex;
    grid-gap: -5rem;
    align-text:center;
}
.btn-group .btn{
    padding:.75rem 1rem;
    border-radius: .4rem;
    border:none;
    outline:none;
    cursor:ponter;
}
.btn-group .btn.submit{
    bacground:var(--blue);
    color:var(--blue);
}
.btn-group .btn.submit:hover{
    background: var(--blue-d-1);
}
.btn-group .btn.cancel{
    background:var(--blue);
    color:var(--white);
}
.btn-group .btn.cancel:hover{
    background: var(--blue-d-1);
}
    





















