@import url('https://fonnts.googleapis.com/css?family');{

    margin:0;
    padding:0;
    box-sizing:border-box;

}
:root{
    --yellow:#FFBD13;
    --blue:#4383FF;
    --blue-d-1:#3278FF;
    --light:#F5F5F5;
    --grey:#AAA;
    --white:#FFF;
    --shadow:8px 8px 30px rgba(0,0,0,.05)

}
body{
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}
.wrapper{
    background: #111;
    padding: 2rem;
    max-width: 500px;
    width: 100%;
    border-radius: 75rem;
    box-shadow: var(--shadow);
    text-align: center;
}
.wrapper h3{
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    color: var(--yellow);
}
.rating {
    display: flex;
    justify-self: center;
align-items: center;
    grid-gap:5rem;
    font-size: 1rem;
}






















